  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("logo3.png"), items_path, class:"navbar-brand" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#sec1", class="fronter">Download</a>
                    </li>
                    <!--
                    <li>
                        <a href="#sec15">Latest Purchases</a>
                    </li>
                    -->
                    <li>
                        <a href="#sec2", class="fronter">Process</a>
                    </li>
                    <li>
                        <a href="#sec3", class="fronter">Options</a>
                    </li>
                    <li>
                        <a href="#sec4", class="fronter">Contact</a>
                    </li>
                    <li>
                        <%= button_to "Sign up", new_user_registration_path, class: 'btn btn-default moveit', method:"get" %>
                    </li>
                    <li>
                        <%= button_to "Log in", new_user_session_path, class: 'btn btn-warning moveitfarther', method:"get" %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <div id="sec1">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class='center'><%= link_to image_tag("Emperorpenguinfinalbigflip.png", class:'bigpenguin'), items_path %></div>
            </div>
            <div class="col-md-6 col-sm-12 hero-spacer">
              <h1>Get the Penguin!</h1>
              <div class="well well-sm">
                <h2>Download the Print Penguin Extension (only available to Chrome users)</h2>
                <p><%= button_to "Download", items_path , class: 'btn btn-warning btn-lg', method:"get" %></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class='center'><%= link_to image_tag("Emperorpenguinfinalbig.png", class:'bigpenguin'), items_path %></div>
            </div>
          </div>
        </div>

        <hr>
        <!--
        <div id="sec15">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Latest Purchases</h1>
              </div>
          </div>

        </div>

        <hr>
        -->

        <div id="sec2">
          <!-- Title -->
          <div class="row">
              <div class="col-lg-12">
                  <h1>The Process</h1>
              </div>
          </div>
          <!-- /.row -->

          <!-- Page Features -->
          <div class="row text-center">
              <div class="col-md-1 col-sm-3"><i class="fa fa-arrow-right fa-5x"></i></div>
              <div class="col-md-3 col-sm-9 hero-feature">
                <%= image_tag("http://placehold.it/300x300", width:'100%') %>
                <div class="caption">
                    <h2>Select your Image</h2>
                </div>
              </div>

              <div class="col-md-1 col-sm-3"><i class="fa fa-arrow-right fa-5x"></i></div>
              <div class="col-md-3 col-sm-9 hero-feature">
                <%= image_tag("http://placehold.it/300x300", width:'100%') %>
                <div class="caption">
                    <h2>Edit and Design</h2>
                </div>
              </div>

              <div class="col-md-1 col-sm-3"><i class="fa fa-arrow-right fa-5x"></i></div>
              <div class="col-md-3 col-sm-9 hero-feature">
                <%= image_tag("http://placehold.it/300x300", width:'100%') %>
                <div class="caption">
                    <h2>Print and Pay</h2>
                </div>
              </div>

          </div>
          <!-- /.row -->
        </div>

        <hr>

        <div id="sec3">

          <div class="row">
              <div class="col-lg-12">
                  <h1>Options</h1>
              </div>
          </div>

          <div class="row text-center">

              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://placehold.it/800x500" alt="">
                      <div class="caption">
                          <h3>Posters</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <p>
                              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                          </p>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://placehold.it/800x500" alt="">
                      <div class="caption">
                          <h3>Prints</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <p>
                              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                          </p>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://placehold.it/800x500" alt="">
                      <div class="caption">
                          <h3>Framed Prints</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <p>
                              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                          </p>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6 hero-feature">
                  <div class="thumbnail">
                      <img src="http://placehold.it/800x500" alt="">
                      <div class="caption">
                          <h3>Penguin Books</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          <p>
                              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                          </p>
                      </div>
                  </div>
              </div>

          </div>
        </div>

        <hr>

        <div id="sec4">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2>Contact us with any questions or suggestions</h2>
              <h3>Email: andrew@print-penguin.com</h3>
              <h3>Address: 986 5th Ave. W., Suite C</h3>
              <h3>West Fargo ND, 58078</h3>
            </div>
          </div>
        </div>


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <ul class="list-inline">
                    <li><i class="icon-facebook icon-2x"></i></li>
                    <li><i class="icon-twitter icon-2x"></i></li>
                    <li><i class="icon-tumblr icon-2x"></i></li>
                    <li><i class="icon-pinterest icon-2x"></i></li>
                  </ul>
                  <p>Copyright &copy; Print-Penguin.com 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
