<!DOCTYPE html>
<html>
<head>
  <title>Printpenguin</title>

  <!-- Bootstrap Core CSS -->
  <link href='/assets/bootstrap.min.css' rel='stylesheet'>
  <link href="/assets/heroic-features.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- jQuery -->
  <script src="/assets/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src='/assets/bootstrap.min.js'></script>
  <script src="/assets/scripts.js"></script>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <% if notice != nil %>
      <div class="alert alert-info">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <h3><%= notice %></h3>
      </div>
    <% elsif alert != nil %>
      <div class="alert alert-warning">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <h3><%= alert %></h3>
      </div>
    <% end %>

    <%= yield %>

</body>
</html>
